
body {
    background-color: white;
    font-family: Poppins;
    padding-top: 200px;
}

.create-account {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    width: 80%
}

legend {
    font-size: 50px;
    color: rgb(153, 80, 221);
    text-align: center;
    margin-bottom: 15px;
}

input[type="email"], input[type="password"] {
    font-size:18px;
    color: grey;
    padding: 15px;
    max-width: 500px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 2px solid rgba(230, 230, 230);
    border-radius: 5px;
    background-color: rgba(230, 230, 230);
}

input[type="email"]::placeholder, input[type="password"]::placeholder {
    color: rgba(183, 182, 189);
}

input[type="email"]:hover, input[type="password"]:hover {
    border: 2px solid rgba(183, 182, 189);
}

input[type="email"]:focus, input[type="password"]:focus {
    border: 2px solid rgba(183, 182, 189);
    outline: none;
}

button[type="submit"] {
    font-size: 18px;
    width: 83%;
    max-width: 600px;;
    display: block;
    margin-top: 15px;;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 2px solid rgb(153, 80, 221);
    background-color: rgb(153, 80, 221);
    border-radius: 5px;
    color: white;
}

button[type="submit"]:hover {
    border: 2px solid rgb(44, 109, 252);
    background-color: rgb(44, 109, 252);
}

button[type="submit"]:focus {
    border: 2px solid rgb(44, 109, 252);
    background-color: rgb(44, 109, 252);
}

p {
    padding: 15px;
    text-align: center;
    color: rgb(127, 110, 143);
}

p a {
    text-decoration: none;
    color: rgb(153, 80, 221);
}

p a:hover {
    color: rgb(44, 109, 252);
}

p a:focus {
    color: rgb(44, 109, 252);
}

fieldset {
    width: 80%;
    max-width: 700px;
    border: 1px solid rgb(127, 110, 143);
    border-radius: 10px;
}



