body {
    background-color: white;
    font-family: Roboto;
    margin: 0;
    padding-top: 200px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    width: 800px;
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
}

.box-one, .box-two, .box-three {
    box-shadow: 0 8px 8px 4px rgba(0, 0, 0.1, 0.1);
    border-radius: 10px;
    width: 300px;
    height: 425px;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

h2.title {
    font-size: 25px;
    margin-top: 20px
}

p.excerpt {
    font-size: 15px;
    margin: 0 auto;
    padding: 0 20px 0;
    color: rgb(122, 102, 119);
}

a.read-more {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
}

a.read-more:hover {
    background-color: maroon;
    border: 1px solid maroon;
}

a.read-more:active {
    background-color: darkred;
    border: 1px solid darkred;
}
